/* Style for SMB Bot's messages */
.bot-message{
    background-color: #20A199; /* Set the background color for bot's messages */
    color: #fff; /* Set the text color for bot's messages */
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
    clear: both;
    max-width: 80%;
    float: left; /* Align bot messages to the left */
}

/* Style for user (You) messages */
.user-message {
    background-color: #EA6515; /* Set the background color for user's messages */
    color: #fff; /* Set the text color for user's messages */
    border-radius: 15px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    clear: both;
    max-width: 80%;
    float: right; /* Align user messages to the right */
}

/* New styles for user input container and "Send" button */
#user-input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

#user-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#send-button {
    padding: 10px 20px;
    background-color: #20A199;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


/* Example styles (customize as needed) */
#chat-container {
    max-width: 300px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #dc8e60;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* Arrange child elements vertically */
    justify-content: space-between; /* Push elements to the top and bottom */
    height: 50vh; /* Make the container fill the viewport height */
}

#chat-messages {
    max-height: 500px;
    overflow-y: auto;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
}

#user-input {
    width: 92%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#send-button {
    display: block;
    width: 20%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #20A199;
    color: #fff;
    border: 1px solid #20A199;
    border-radius: 5px;
    cursor: pointer;
    
}



/* Add more styling as needed */
